@using Domain.Entities
@model IEnumerable<Cow>

@{
    ViewBag.Title = "Cows - List";
}

<h3>List of Cows</h3>
<div class="container">
    <table class="table table-responsive table-striped" id="table_cows">
        <thead>
            <tr>
                <th width="10%" data-field="idCow">ID</th>
                <th width="75%" data-field="birthday">Date</th>
                <th width="15%">Actions</th>
            </tr>
        </thead>
        <tbody id="body_table">
            @foreach (Cow cow in Model)
            {
                <tr>
                    <td>@cow.idCow</td>
                    <td>@cow.birthday.ToShortDateString()</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Details","Cow",cow.idCow)" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-stats"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //cows = [];
            //var table = $("#table_cows").find("#body_table");
            //table.append("<tr><td colspan='3' class='text-center'>Carregando...</td>");
            //$.ajax({
            //    method: "GET",
            //    url: "@Url.Content("~/")api/InterfaceService/GetAllCows",
            //    cache: false
            //})
            //.done(function (data) {
            //    console.log(data);
            //    cows = data;
            //    fillTable(cows);
            //});


            //var $table = $("#table_cows");
            //$table.bootstrapTable({ data: cows });
        });
        function fillTable(cows) {
            var table = $("#table_cows").find("#body_table");
            table.html("");
            for (var i = 0; i < cows.length; i++) {
                actions = "<a href='#' class='btn btn-primary btn-sm'> " +
                "  <span class='glyphicon glyphicon-edit'></span> " +
                "</a> " +
                "<a href='@Url.Action("Details","Cow")/" + cows[i].idCow + "' class='btn btn-info btn-sm'> " +
                "    <span class='glyphicon glyphicon-stats'></span> " +
                " </a> ";
                $(table).append("<tr><td>" + cows[i].idCow + "</td><td>" + cows[i].birthday + "</td><td>" + actions + "</td></tr>");

            }
        }
    </script>
}